Repository poicc/vue3-front-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, stylelint --fix --allow-empty-input, prettier --write

组件测试用例
  packages/components/.DS_Store
  packages/components/package.json
  packages/components/src/.DS_Store
  packages/components/src/button/.DS_Store
  packages/components/src/button/__tests__/Button.spec.js
  packages/components/src/dialog/__tests__/Dialog.spec.js
  packages/components/src/infinite/__tests__/Infinte.spec.js
  packages/components/src/input/__tests__/Input.spec.js
  packages/components/vite.config.ts
Due: prettier --write ., eslint --fix, stylelint --fix --allow-empty-input

文档建设
  packages/docs/docs/.vitepress/config.js
  packages/docs/docs/.vitepress/theme/index.js
  packages/docs/docs/guide/components/infinite/index.md
  packages/docs/docs/guide/components/navbar/index.md
  packages/docs/docs/guide/components/popover/index.md
  packages/docs/docs/guide/components/popup/index.md
  packages/docs/docs/guide/components/search/index.md
  packages/docs/docs/guide/components/trigger-menu/index.md
  packages/docs/docs/guide/components/waterfull/index.md
Due: prettier --write ., eslint --fix, stylelint --fix --allow-empty-input, prettier --write

Update README.md
  README.md
Due: prettier --write

Create .vercelignore
  .vercelignore
Due: none

Update .vercelignore
  .vercelignore
Due: none

Delete .vercelignore
  .vercelignore
Due: none

Delete .DS_Store
  .DS_Store
Due: none

Update pre-commit
  .husky/pre-commit
Due: none

Update package.json
  package.json
Due: none

Delete pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Delete packages/docs/docs/.vitepress/cache directory
  packages/docs/docs/.vitepress/cache/.DS_Store
  packages/docs/docs/.vitepress/cache/deps/_metadata.json
  packages/docs/docs/.vitepress/cache/deps/package.json
  packages/docs/docs/.vitepress/cache/deps/vue.js
  packages/docs/docs/.vitepress/cache/deps/vue.js.map
Due: prettier --write ., eslint --fix, stylelint --fix --allow-empty-input

Update index.js
  packages/docs/docs/.vitepress/theme/index.js
Due: prettier --write ., eslint --fix, stylelint --fix --allow-empty-input

Update index.md
  packages/docs/docs/guide/components/waterfull/index.md
Due: prettier --write

Delete packages/docs/docs/guide/components/waterfull directory
  packages/docs/docs/guide/components/waterfull/index.md
Due: prettier --write

Update config.js
  packages/docs/docs/.vitepress/config.js
Due: prettier --write ., eslint --fix, stylelint --fix --allow-empty-input

Update index.md
  packages/docs/docs/guide/components/count-down/index.md
Due: prettier --write

Update index.md
  packages/docs/docs/guide/components/input/index.md
Due: prettier --write

resetreset
  .gitignore
  .husky/pre-commit
  packages/.DS_Store
  packages/.pnpm-debug.log
  packages/docs/.DS_Store
  packages/docs/docs/.DS_Store
  packages/docs/docs/.vitepress/config.js
  packages/docs/docs/.vitepress/dist/.DS_Store
  packages/docs/docs/.vitepress/dist/assets/app.1dc692ac.js
  packages/docs/docs/.vitepress/dist/assets/components_button_index.md.896e47c0.js
  packages/docs/docs/.vitepress/dist/assets/components_button_index.md.896e47c0.lean.js
  packages/docs/docs/.vitepress/dist/assets/guide_index.md.294ed595.js
  packages/docs/docs/.vitepress/dist/assets/guide_index.md.294ed595.lean.js
  packages/docs/docs/.vitepress/dist/assets/index.md.bf745e7a.js
  packages/docs/docs/.vitepress/dist/assets/index.md.bf745e7a.lean.js
  packages/docs/docs/.vitepress/dist/assets/style.ffde13ba.css
  packages/docs/docs/.vitepress/dist/components/button/index.html
  packages/docs/docs/.vitepress/dist/guide/index.html
  packages/docs/docs/.vitepress/dist/hashmap.json
  packages/docs/docs/.vitepress/dist/index.html
  packages/docs/docs/.vitepress/dist/poicc-logo.png
  packages/docs/docs/.vitepress/postcss.config.js
  packages/docs/docs/.vitepress/tailwind.config.js
  packages/docs/docs/.vitepress/theme/index.js
  packages/docs/node_modules/.pnpm-debug.log
  packages/docs/node_modules/.vite/deps/_metadata.json
  packages/docs/node_modules/.vite/deps/package.json
  packages/docs/node_modules/.vite/deps/vue.js
  packages/docs/node_modules/.vite/deps/vue.js.map
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix, stylelint --fix --allow-empty-input

Delete .DS_Store
  packages/.DS_Store
Due: none

修改版本
  .gitignore
  examples/package.json
  packages/components/es/_virtual/_commonjsHelpers.js
  packages/components/es/_virtual/dayjs.min.js
  packages/components/es/_virtual/dayjs.min2.js
  packages/components/es/count-down/index.vue.js
  packages/components/es/count-down/utils.js
  packages/components/es/node_modules/.pnpm/registry.npmmirror.com_dayjs@1.11.7/node_modules/dayjs/dayjs.min.js
  packages/components/es/node_modules/.pnpm/registry.npmmirror.com_dayjs@1.11.7/node_modules/dayjs/locale/zh-cn.js
  packages/components/es/packages/components/src/confirm/index.vue.d.ts
  packages/components/es/style.css
  packages/components/lib/_virtual/_commonjsHelpers.js
  packages/components/lib/_virtual/dayjs.min.js
  packages/components/lib/_virtual/dayjs.min2.js
  packages/components/lib/count-down/index.vue.js
  packages/components/lib/count-down/utils.js
  packages/components/lib/node_modules/.pnpm/registry.npmmirror.com_dayjs@1.11.7/node_modules/dayjs/dayjs.min.js
  packages/components/lib/node_modules/.pnpm/registry.npmmirror.com_dayjs@1.11.7/node_modules/dayjs/locale/zh-cn.js
  packages/components/package.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix, stylelint --fix --allow-empty-input

Path conditions:
  prettier --write .: any of: ./*.{js,jsx,ts,tsx}
  eslint --fix, stylelint --fix --allow-empty-input: any of: ./*.{js,jsx,ts,tsx}
  prettier --write: any of: *.md
